html, body
{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
nav
{
    display: flex;
    color: white;
    background-color: darkblue;
    font-family: Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
} 

nav ul
{
    display: flex;
    
}
 nav li
 {
     padding: 0 20px;
     list-style: none;
     
 }
 nav li a 
 {
     color: gray;
     text-decoration: none;
 }
 nav li a:hover
 {
    color: white;
 }